{%- liquid
    assign id_append = ''
    if featured_product
    	assign sectionId = section.id | remove: '-' | remove: '_' 
        assign id_append = sectionId
    endif
-%}

{%- case block.type -%}
{%- when '@app' -%}
    <section class="itsapp" {{ block.shopify_attributes }}>{%- render block -%}</section>

{%- when 'liquid' -%}
    <section class="itsapp" {{ block.shopify_attributes }}>{{- block.settings.liquid -}}</section>

{%- when 'separator' -%}
    <horizontal-rule {{ block.shopify_attributes }}></horizontal-rule>

{%- when 'vendor' -%}
    <section class="vendor" {{ block.shopify_attributes }}>{{ product.vendor | link_to_vendor: class: 'no-style' }}</section>

{%- when 'title' -%}
    <section class="title" id="xtitle{{ id_append }}" {{ block.shopify_attributes }}>
		{%- unless featured_product -%}
    		<h1>{{ product.title }}</h1>
    	{%- else -%}
    		<h2 class="h1"><a href="{{ product.url }}" class="no-style">{{ product.title }}</a></h2>
    	{%- endunless-%}
    </section>

{%- when 'subtitle' -%}
	{%- if product.metafields.descriptors.subtitle.value != nil -%}
    <section class="subtitle" {{ block.shopify_attributes }}><h3 class="h5">{{ product.metafields.descriptors.subtitle.value }}</h3></section>
	{%- endif -%}

{%- when 'description' -%}
	{%- if product.description != blank -%}
	<section class="description" {{ block.shopify_attributes }}>
		{%- if block.settings.collapsibleDesc -%}
		<details {% if block.settings.checked == true %}open{% endif %}>
		<summary class="dropdown-caret">{{ block.settings.heading }}</summary>
		{%- endif -%}
			{%- if product.description != blank -%}<div class="text rte">{{ product.description }}</div>{%- endif -%}
		{%- if block.settings.collapsibleDesc -%}</details>{%- endif -%}
	</section>

	{%- if block.settings.collapsibleDesc -%}<script type="module">document.addEventListener("DOMContentLoaded", () => { if(!CSS.supports('selector(html:has(body))')) { let parents = document.querySelectorAll('.description'); parents.forEach(function(parent) { let child = parent.querySelector('details'); if (child !== null) parent.classList.add('noHas') }) } })</script>{%- endif -%}
	{%- endif -%}

{%- when 'text' -%}
	{%- if block.settings.text != blank -%}
	<section class="text" {{ block.shopify_attributes }}>
		<div class="rte">{{- block.settings.text -}}</div>
	</section>
	{%- endif -%}

{%- when 'share' -%}
	<section class="sharing" {{ block.shopify_attributes }}>
		<x-flex jc="between">
			{%- if block.settings.heading != blank -%}<x-cell>{{ block.settings.heading }}</x-cell>{%- endif -%}
			<x-cell>
				<div class="mob-scroller">
				{%- liquid
					assign shareImage = product.selected_or_first_available_variant.featured_media.preview_image | default: product.featured_media.preview_image
					render 'global-share', shareTitle: product.title, shareUrl: product.url, shareImage: shareImage
				-%}
				</div>
			</x-cell>
		</x-flex>
	</section>

{%- when 'paymenticons' -%}
	{%- if shop.enabled_payment_types != empty -%}
	<section class="paymenticons" {{ block.shopify_attributes }}>
		<x-flex jc="between" wrap="wrap" style="--rowGap:var(--margin)">
			{%- if block.settings.heading != blank -%}<x-cell>{{ block.settings.heading }}</x-cell>{%- endif -%}
			<x-cell {% if block.settings.monoPaymentIcons -%}style="filter:grayscale(1)"{%- endif %}>
				<div class="mob-scroller">{%- render 'global-paymenticons' -%}</div>
			</x-cell>
		</x-flex>
    </section>
    {%- endif -%}

{%- when 'trustbadge' -%}
	{%- if block.settings.image != empty -%}
	<section class="trustbadge" {{ block.shopify_attributes }}>
		{%- liquid 
			assign img = block.settings.image
			if img != nil
				echo "<picture>"
            	echo img | image_url: width: 900 | image_tag: loading: 'lazy', alt: img.alt
            	echo "</picture>"
        	else
            	echo 'lifestyle-2' | placeholder_svg_tag: 'svg-placeholder'
        	endif 
        -%}
	</section>
	{%- endif -%}

{%- when 'collapsible_tab' -%}
	{%- if block.settings.content != empty or block.settings.page.content != nil or block.settings.image != empty -%}
	<section class="accordion" {{ block.shopify_attributes }}>
		<details {% if block.settings.checked == true %}open{% endif %}>
			<summary class="dropdown-caret">{{ block.settings.heading | default: block.settings.page.title }}</summary>
			<div class="text rte">
				{%- liquid
					echo block.settings.content
					echo block.settings.page.content

					assign img = block.settings.image
					assign alt = block.settings.heading | default: block.settings.page.title
					if block.settings.image != nil
						echo img | image_url: width: 2048 | image_tag: loading: 'lazy', alt: alt
					endif
				-%}
			</div>
		</details>
	</section>
	{%- endif -%}

{%- when 'popup' -%}
	<section class="popup" {{ block.shopify_attributes }}>
		<modal-opener data-modal="#PopupModal-{{ block.id }}">
			<button id="ProductPopup-{{ block.id }}" class="is-blank no-js-hidden" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
			<a href="{{ block.settings.page.url }}" class="button is-blank no-js">{{ block.settings.link_label }}</a>
		</modal-opener>
	</section>

{%- when 'sku' -%}
    <section 
    	class="product__sku no-js-hidden {% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
    	id="Sku-{{ section.id }}"
    	role="status"
    	{{ block.shopify_attributes }}
    >
        <x-flex style="gap:var(--margin)">
            <x-cell><strong>{{ 'product.sku' | t }}:</strong></x-cell>
            <x-cell>{{- product.selected_or_first_available_variant.sku -}}</x-cell>
        </x-flex>
    </section>

{%- when 'price' -%}
{%- liquid
	assign showPrice = true
	if product.available == false and block.settings.hidePriceSold == true
		assign showPrice = false
	endif
-%}
{%- if showPrice -%}
	<section id="price-{{ section.id }}" {{ block.shopify_attributes }}>
		{%- render 'product-price', product: product, use_variant: true -%}

		{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
		<small x-flex class="productTax" style="gap:var(--margin)">
			{%- if shop.taxes_included -%}<x-cell>{{ 'product.include_taxes' | t }}</x-cell>{%- endif -%}
			{%- if shop.shipping_policy.body != blank -%}<x-cell>{{ 'product.shipping_policy_html' | t: link: shop.shipping_policy.url }}</x-cell>{%-endif -%}
		</small>
		{%- endif -%}
	</section>

	<section class="installments" {{ block.shopify_attributes }}>
		{%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
		{%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
			{{ form | payment_terms }}
		{%- endform -%}
	</section>
{%- endif -%}

{%- when 'pickup' -%}
	{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
	{%- if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 -%}
	<section class="pickup-availability" {{ block.shopify_attributes }}>
		<pickup-availability
			class="product__pickup-availabilities"
			{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
			data-root-url="{{ routes.root_url }}"
			data-variant-id="{{ product.selected_or_first_available_variant.id }}"
			data-has-only-default-variant="{{ product.has_only_default_variant }}"
		>
			<template>
			    <pickup-availability-preview class="pickup-availability-preview">
			        <div class="pickup-availability-info">
			            <p>{{ 'product.unavailable' | t }}</p>
			            <button class="pickup-availability-button">{{ 'product.refresh' | t }}</button>
			        </div>
			    </pickup-availability-preview>
			</template>
		</pickup-availability>
	</section>
	{%- endif -%}

{%- when 'variant_picker' -%}

	{%- capture sizeGuideTrigger -%}
		{%- if block.settings.size_chart != blank -%}
		<x-cell id="size-{{ section.id }}">
			<modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
				<button id="ProductPopup-{{ block.id }}" class="is-blank" type="button" aria-haspopup="dialog">{% render 'global-icon' with 'tag' %} {{ 'product.size_chart' | t }}</button>
			</modal-opener>
		</x-cell>
		{%- endif -%}
	{%- endcapture -%}

    {%- unless product.has_only_default_variant -%}
    <section class="variant-picker" {{ block.shopify_attributes }}>
        {%- if block.settings.picker_type == 'button' -%}
            <variant-radios id="variant-radios-{{ section.id }}" class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                {%- for option in product.options_with_values -%}
                <fieldset class="js product-form__input">
					<x-flex jc="between" class="fullwidth">
						<x-cell><legend class="form__label">{{ option.name }}</legend></x-cell>
						{%- liquid
							if option.name == 'Size'
								echo sizeGuideTrigger
							endif
						-%}
					</x-flex>
                    {%- render 'product-variant-options', product: product, option: option, block: block -%}
                </fieldset>
                {%- endfor -%}
                <script type="application/json">{{ product.variants | json }}</script>
            </variant-radios>
        {%- else -%}
			<variant-selects id="variant-selects-{{ section.id }}" class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
				{%- for option in product.options_with_values -%}
					<div>
					<x-flex jc="between">
						<x-cell><label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label></x-cell>
						{%- liquid
							if option.name == 'Size'
								echo sizeGuideTrigger
							endif
						-%}
					</x-flex>

					<select id="Option-{{ section.id }}-{{ forloop.index0 }}" class="select__select" name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
						{% render 'product-variant-options', product: product, option: option, block: block %}
					</select>
					</div>
				{%- endfor -%}
                <script type="application/json">{{ product.variants | json }}</script>
            </variant-selects>
        {%- endif -%}

		<noscript class="product-form__noscript-wrapper-{{ section.id }}">
			<div class="{% if product.has_only_default_variant %} hidden{% endif %}">
				<x-flex jc="between">
					<x-cell><label for="Variants-{{ section.id }}">{{- 'product.selectOption' | t -}}</label></x-cell>
					<x-cell><a href="{{ block.settings.size_chart.url }}" class="no-style no-js">{% render 'global-icon' with 'tag' %} {{ 'product.size_chart' | t }}</a></x-cell>
				</x-flex>

				<select name="id" id="Variants-{{ section.id }}" form="{{ product_form_id }}">
				{%- for variant in product.variants -%}
					<option value="{{ variant.id }}"
						{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
						{% if variant.available == false %}disabled{% endif %}
					>
						{{ variant.title }}
						{%- if variant.available == false %} - {{ 'product.soldOut' | t }}{% endif %} - {{ variant.price | money | strip_html }}
					</option>
				{%- endfor -%}
				</select>
			</div>
		</noscript>
	</section>
    {%- endunless -%}

{%- when 'buy_buttons' -%}
	{%- liquid
		assign purchaseButtonText = 'product.addToCart' | t

		# Cart form
	    if settings.cartType == 'drawer' 
	        assign cartSubmit = 'data-cart-submit'
	        assign dataType = 'add-to-cart-form'
	    else 
	        assign cartSubmit = nil
	        assign dataType = nil
	    endif
	-%}

	{%- unless featured_product -%}
	{%- if product.available and block.settings.floatButtonShow -%}
		<style>:root { --scrollPadding: calc(var(--headerGroupHeight, 100px) + 400px) }</style>
		<div id="add2cart-cta">
			<a href="#xpurchase" class="button fullwidth is-primary">
				<x-flex jc="center" style="gap:var(--margin)">
					{%- if block.settings.floatButtonShowPrice -%}
					<x-cell class="large-only mdash">{%- render 'product-price', product: product, use_variant: false -%}</x-cell>
					{%- endif -%}
					<x-cell>{{ purchaseButtonText }}</x-cell>
				</x-flex>
			</a>
		</div>

		<script>document.addEventListener("DOMContentLoaded", () => { inViewport('[data-inviewport]', element => { if (!element.isIntersecting) { document.querySelector('#add2cart-cta').classList.add('active') } else { document.querySelector('#add2cart-cta').classList.remove('active') } }) }); 
		</script>
	{%- endif -%}
	{%- endunless -%}

	<section class="product-form" id="xpurchase{{ id_append }}" {{ block.shopify_attributes }}>
		<product-form class="product-form" data-inviewport>
			<div class="product-form__error-message-wrapper" role="alert" hidden><span class="product-form__error-message"></span></div>

			{%- if settings.cartType == 'drawer' -%}<bullet-cart-drawer></bullet-cart-drawer>{%- endif -%}

			{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: dataType, data-cart-submit: cartSubmit -%}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
			<div>
				<button
					type="submit"
					name="add" 
					class="cartButton {% if block.settings.show_dynamic_checkout %}is-outline is-currentcolor{% else %}is-primary{% endif %}"
					{% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
					{% if settings.cartType == 'drawer' %}onclick="ajaxCart(this)"{% endif %}
				>
					<span class="cta">
						{%- liquid 
							if product.selected_or_first_available_variant.available
	                        	echo purchaseButtonText
	                    	else
								echo 'product.soldOut' | t
							endif 
	                    -%}
					</span>

					<span x-grid columns="1" pi="center" class="loading-overlay__spinner hidden">{{ 'product.addingToCart' | t }}</span>
				</button>

				{%- liquid
					if block.settings.show_dynamic_checkout
						echo form | payment_button
					endif
				-%}
			</div>
	        {%- endform -%}
	    </product-form>
	</section>

{%- when 'qty' -%}
	<section class="quantity" {{ block.shopify_attributes }}>
		<label for="Quantity-{{ section.id }}"{%- if block.settings.label != true -%} class="visually-hidden"{%- endif -%}>{{ 'product.quantity.qty' | t }}</label>

		<quantity-input class="quantity" x-flex>
			<button class="is-blank no-js-hidden" name="minus" type="button">
				<span class="visually-hidden">{{ 'product.quantity.decrease' | t: product: product.title | escape }}</span>
                {%- render 'global-icon' with 'minus' -%}
			</button>

			<input type="number" name="quantity" id="Quantity-{{ section.id }}" min="1" value="1" pattern="[0-9]*" inputmode="decimal" form="{{ product_form_id }}" />

			<button class="is-blank no-js-hidden" name="plus" type="button">
				<span class="visually-hidden">{{ 'product.quantity.increase' | t: product: product.title | escape }}</span>
				{%- render 'global-icon' with 'plus' -%}
  			</button>
		</quantity-input>
	</section>
 
{%- when 'inventory' -%}
    <section class="inventory" {{ block.shopify_attributes }}>
        <inventory-status 
        	id="Inventory-{{ section.id }}"
        	class="no-js-hidden {% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}" 
        	style="--inventoryStatusAlign:{{ block.settings.alignment }}"
        	role="status"
        >
        	{%- liquid
	            if product.selected_or_first_available_variant.inventory_management == 'shopify'
	                if product.selected_or_first_available_variant.inventory_quantity > 0

	                    if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold

		                    echo '<x-flex class="inventoryStatus">'
		                    	echo '<div class="dot is-orange"></div>'
		                    	echo '<x-cell class="txt">'
			                    if block.settings.show_inventory_quantity
			                    	echo 'product.inventory_low_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity
			                    else 
			                    	echo 'product.inventory_low_stock' | t
			                    endif
			                	echo '</x-cell>'
							echo '</x-flex>'

	                    else

	                    	echo '<x-flex class="inventoryStatus">'
	                    		echo '<div class="dot"></div>'
	                    		echo '<x-cell class="txt">'
	                    		if block.settings.show_inventory_quantity
	                    			echo 'product.inventory_in_stock_show_count' | t: quantity: product.selected_or_first_available_variant.inventory_quantity
		                        else
		                            echo 'product.inventory_in_stock' | t
		                        endif
		                        echo '</x-cell>'
	                        echo '</x-flex>'

	                    endif

	                else

	                	echo '<x-flex class="inventoryStatus">'
	                		echo ''
		                    if product.selected_or_first_available_variant.inventory_policy == 'continue'
		                    	echo '<x-cell><div class="dot"></div></x-cell> <x-cell class="txt">'
		                    	echo 'product.inventory_out_of_stock_continue_selling' | t
		                    	echo '</x-cell>'
		                    else
		                    	echo '<x-cell><div class="dot is-red is-paused"></div></x-cell> <x-cell class="txt">'
		                    	echo 'product.inventory_out_of_stock' | t
		                    	echo '</x-cell>'
		                    endif
		                    echo '</x-cell>'
	                    echo '</x-flex>'

	                endif
	            endif 
        	-%}
        </inventory-status>
    </section>

{%- when 'complementary' -%}
	<product-recommendations class="product product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&intent=complementary" {{ block.shopify_attributes }}>
	{%- if recommendations.performed and recommendations.products_count > 0 -%}
	<section class="complementary accordion">
		<details {% if block.settings.checked == true %}open{% endif %}>
			<summary class="dropdown-caret">{{ block.settings.heading }}</summary>

			<div>
			{%- if block.settings.listStyle == 'cards' -%}

		        <x-flex
		            direction="row"
		            class="cards scroll-snap scroll-snap-m"
		            style="gap:var(--globalBorderWidth)"
		            card-type="{{ settings.cardTypeOf }}"
		            card-ratio="{{ settings.cardRatio }}"
		            card-quickbuy="{{ settings.cardQuickBuy }}"
		            card-quickbuy-hover="{{ settings.cardHoverQuickBuy }}"
		            card-quickbuy-float="{{ settings.cardFloatQuickBuy }}"
		            card-img-crop="{{ settings.cardImgCrop }}"
		            card-img-radius="{{ settings.cardImgRadius }}"
		            card-img-padding="{{ settings.cardImgPadding }}"
		        >
		        {%- liquid 
		            for product in recommendations.products
		                render 'global-product-card' for product as product
		            endfor
		        -%}
		        </x-flex>

			{%- else -%}

		        {%- for product in recommendations.products -%}
		            <x-grid {% if block.settings.show_image %}columns="3"{% else %}columns="2"{% endif %} style="gap:var(--padding)" class="lists">
		                {%- if block.settings.show_image -%}
		                <x-cell>
		                    <a href="{{ product.url }}" class="no-style">
		                    {%- assign img = product.featured_image.src -%}
		                    {%- if img != nil -%}
		                    <picture>
		                        {{ img | image_url: width: 250 | image_tag: width: 250, loading: 'lazy', alt: img.alt | escape }}
		                    </picture>
		                    {%- endif -%}
		                    </a>
		                </x-cell>
		                {%- endif -%}
		                <x-cell><a href="{{ product.url }}" class="no-style">{{ product.title }}</a></x-cell>
		                <x-cell js="end">{%- render 'global-product-price' for product as product -%}</x-cell>
		                <x-cell span="row">{%- render 'global-product-form' for product as product -%}</x-cell>
		            </x-grid>
		        {%- endfor -%}

			{%- endif -%}
			</div>
		</details>
	</section>
	{%- endif -%}
	</product-recommendations>
	<script src="{{ 'product-recommendations.js' | asset_url }}" type="module" defer></script>
{%- endcase -%}
<style type="text/css">

  ul.ga-products-table>li .product_main input{
    height:21px !important;
  }
  
</style>