<!doctype html>
<html lang="{{ request.locale.iso_code }}"{% if template == 'page.faq' %} itemscope itemtype="https://schema.org/FAQPage"{% endif %} class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="theme-color" content="{{ settings.bgColor }}">

    <meta name="Skelet." property="Sēlekkt. Studio" content="https://selekkt.dk/skelet/v3/">
    <meta name="Bullet" property="OpenThinking" content="https://openthinking.net/">

    <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com/" crossorigin>

    {%- unless settings.headingsFontFamily.system? and settings.bodyFontFamily.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    {%- unless settings.bodyFontFamily.system? -%}
        <link rel="preload" as="font" href="{{ settings.bodyFontFamily | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.headingsFontFamily.system? -%}
        <link rel="preload" as="font" href="{{ settings.headingsFontFamily | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <link rel="preload" as="style" href="{{ 'skelet.css' | asset_url }}">

    {% render 'global-meta' %}

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | image_url: width: 250, height: 250 }}">
    {%- endif -%}

    <script>document.documentElement.className = 'js';</script>

    {{ content_for_header }}

    {%- liquid
        echo 'skelet.css' | asset_url | stylesheet_tag

        render 'global-css-vars'

        if settings.useCustomFont
            render 'global-fonts'
        endif 

        echo 'app.css' | asset_url | stylesheet_tag
    -%}

    {%- if settings.css != blank -%}<style>{{ settings.css | replace: '<style>' '' | replace: '</style>' '' }}</style>{%- endif -%}

    {%- style -%}
    header { padding: var(--padding) }
    main { border-bottom: var(--globalBorder) }
    footer { padding:var(--padding) }

    .password-content { --rowGap: var(--globalBorderWidth); --columnGap: var(--globalBorderWidth) }
    .password-content > x-grid > x-cell { outline: var(--globalBorder) }
    .password-content .newsletter { display: block; padding: var(--padding) }
    .password-content .content { padding:var(--padding) }
    .password-content svg { height: 90vh }

    .newsletter[span="row"] .newsletter-block { max-width: 72ch; margin: 0 auto }
    {%- endstyle -%}
</head>

</head>
<body class="password-page">
<a href="#mainContent" class="skip-to-content button is-primary visually-hidden">{{ "general.accessibility.skip_to_text" | t }}</a>

    <div id="app">
        {%- section 'password-header' -%}
        <main id="mainContent">{{ content_for_layout }}</main>
        {%- section 'password-footer' -%}
    </div>

    {%- if settings.js != blank -%}<script>{{ settings.js | replace: '<script>' '' | replace: '</script>' '' }}</script>{%- endif -%}
    {%- render 'global-trackers' %}
</body>
</html>