<!doctype html>
<html lang="{{ request.locale.iso_code }}"{% if template == 'page.faq' %} itemscope itemtype="https://schema.org/FAQPage"{% endif %} class="no-js">
<head>

  {% if page.title == "About" %}
  <style>
    .rte{
      font-size:16px;
    }
    </style>
  {% endif %}
    <style>
    @import url("https://use.typekit.net/ypz1aue.css");
    </style>
    <link rel="stylesheet" href="https://use.typekit.net/ypz1aue.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="theme-color" content="{{ settings.bgColor }}">

    <meta name="Skelet." property="Sēlekkt. Studio" content="https://selekkt.dk/skelet/v3/">
    <meta name="Bullet" property="OpenThinking" content="https://openthinking.net/">

    <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com/" crossorigin>

    {%- unless settings.headingsFontFamily.system? and settings.bodyFontFamily.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    {%- unless settings.bodyFontFamily.system? -%}
        <link rel="preload" as="font" href="{{ settings.bodyFontFamily | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.headingsFontFamily.system? -%}
        <link rel="preload" as="font" href="{{ settings.headingsFontFamily | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <link rel="preload" as="style" href="{{ 'skelet.css' | asset_url }}">

    {% render 'global-meta' %}

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | image_url: width: 250, height: 250 }}">
    {%- endif -%}

    <script>document.documentElement.className = 'js';</script>


    {{ content_for_header }}

    {%- liquid
        echo 'skelet.css' | asset_url | stylesheet_tag

        render 'global-css-vars'

        if settings.useCustomFont
            render 'global-fonts'
        endif 

        echo 'app.css' | asset_url | stylesheet_tag
    -%}
    {%- if settings.css != blank -%}<style>{{ settings.css | replace: '<style>' '' | replace: '</style>' '' }}</style>{%- endif -%}
</head>
<body class="t-{{ template.name }} ip{{ settings.imgPadding }}" layout-boxed="{{ settings.boxedLayout }}">
<a href="#mainContent" class="skip-to-content button is-primary visually-hidden">{{ "general.accessibility.skip_to_text" | t }}</a>

    <div id="app">
        {%- sections 'group-header' -%}
        <main id="mainContent">
            {%- render 'global-breadcrumbs' -%}
            <div class="globoRecommendationsTop"></div>{{ content_for_layout }}<div class="globoRecommendationsBottom"></div>
        </main>
        {%- liquid
            sections 'group-footer'
            sections 'group-overlay'
        -%}
    </div>

    <script src="{{ 'module-instantpage.min.js' | asset_url }}" type="module"></script>
    <script src="{{ 'module-marquee.min.js' | asset_url }}"></script>
    <script src="{{ 'module-cart.js' | asset_url }}"></script>
    <script src="{{ 'app.js' | asset_url }}"></script>

    <script>
    function theCart() { jQuery(function() { CartJS.init({{ cart | json }}, { "moneyFormat": '{{ shop.money_format }}' }); }); }
    document.addEventListener("DOMContentLoaded", () => { theCart() });
    {%- if request.design_mode and template == 'cart' -%}document.addEventListener("shopify:section:load", (event) => { theCart() }){%- endif -%}
    </script>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = { cart_add_url: '{{ routes.cart_add_url }}', cart_change_url: '{{ routes.cart_change_url }}', cart_update_url: '{{ routes.cart_update_url }}', cart_url: '{{ routes.cart_url }}', predictive_search_url: '{{ routes.predictive_search_url }}' };
      window.cartStrings = { error: `{{ 'cart.cart_error' | t }}`, quantityError: `{{ 'cart.cart_quantity_error_html' | t }}` };
      window.variantStrings = { addToCart: `{{ 'product.addToCart' | t }}`, soldOut: `{{ 'product.soldOut' | t }}`, unavailable: `{{ 'product.unavailable' | t }}` };
    </script>

    {%- if settings.js != blank -%}<script>{{ settings.js | replace: '<script>' '' | replace: '</script>' '' }}</script>{%- endif -%}
    {%- render 'global-trackers' %}

  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script><script>    var klaviyo = klaviyo || [];    klaviyo.init({      account: "VRP24F",      platform: "shopify"    });    klaviyo.enable("backinstock",{     trigger: {      product_page_text: "Notify Me When Available",      product_page_class: "btn",      product_page_text_align: "center",      product_page_margin: "0px",      replace_anchor: false    },    modal: {     headline: "{product_name}",     body_content: "Register to receive a notification when this item comes back in stock.",     email_field_label: "Email",     button_label: "Notify me when available",     subscription_success_label: "You're in! We'll let you know when it's back.",     footer_content: '',     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",     drop_background_color: "#000",     background_color: "#fff",     text_color: "#222",     button_text_color: "#fff",     button_background_color: "#439fdb",     close_button_color: "#ccc",     error_background_color: "#fcd6d7",     error_text_color: "#C72E2F",     success_background_color: "#d3efcd",     success_text_color: "#1B9500"    }  });</script>
</body>
</html>