<footer>
<x-grid columns="2" columns-s="1">
	{%- if section.settings.social -%}
    <x-cell id="f-socials" class="ssocialss" {{ block.shopify_attributes }}>
        <ul class="no-style{% if settings.iconsTrue == true %} iconstrue{% endif %}">
            {% render 'global-social' %}
        </ul>
    </x-cell>
	{%- endif -%}

	{%- if section.settings.password -%}
	<x-cell>
	{%- comment -%} Card 1 {%- endcomment -%}
	<span id="recover" hidden>{{ 'login.login' | t }}</span>
	<div>
	{%- form 'storefront_password' -%}
		<x-grid columns="4" columns-s="1" style="--rowGap:0.3rem;--columnGap:0.3rem">
			<x-cell span="1-3" span-s="row">
				<label for="passwordLogger" class="visually-hidden">{{ 'login.password' | t }}</label>
				<input id="passwordLogger" type="password" name="password" placeholder="{{ 'login.password' | t }}" class="fullwidth">
			</x-cell>
			<x-cell span-s="row">
				<button type="submit" name="commit" id="enter" class="is-blank">{{ 'login.login' | t }}</button>
				<small>{{ form.errors | default_errors }}</small>
			</x-cell>
		</x-grid>
	{%- endform -%}
	</div>

	{%- comment -%} Card 2 {%- endcomment -%}
	<span id="login" tabindex="-1" hidden>{{ 'login.login' | t }}</span>
	<div class="text-end">
		<a href="#recover" class="button is-blank">{{ 'login.login' | t }}</a>
	</div>
	</x-cell>
	{%- endif -%}
</x-grid>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "social",
      "label": "Show social media links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "password",
      "label": "Show password input",
      "default": true
    }
  ]
}
{% endschema %}